@import './node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: galactic;
  src: url(../public/foundationtitleshand.semibold.ttf);
  font-weight: semibold;
}

.backdrop {
  background-color: black;
  background-image: url('/images/stars.svg');
  background-repeat: repeat;
  background-size: 70% auto;
}

.constellation {
  width: 80%;
  height: auto;
}

.star {
  z-index: 1;
  text-decoration: none;
}
.star:hover {
  z-index: 100;
}

.star div {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
}

.star:nth-child(3n + 2) div {
  box-shadow: 0px 0px 15px 6px rgb(228, 183, 1);
}

.star:nth-child(3n + 3) div {
  box-shadow: 0px 0px 15px 6px rgb(85, 157, 63);
}

.star:nth-child(3n + 1) div {
  box-shadow: 0px 0px 15px 6px rgb(230, 12, 11);
}

.star div img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  border-radius: 50%;
  object-fit: cover;
  filter: brightness(0) invert(1);
  width: 17px;
  height: 17px;
  transition: filter 0.7s, transform 0.2s, clip-path 0.2s;
}

.star:hover div {
  filter: drop-shadow(0px 0px 35px rgba(255, 255, 255, 1));
}

.star:hover:nth-child(2n + 1) div img {
  border-radius: 0;
  transform: scale(-7, 7);
  clip-path: polygon(
    41% 0%,
    65% 27%,
    100% 27.5%,
    80% 57%,
    92% 90%,
    57% 80%,
    28% 100%,
    27% 68%,
    0% 47%,
    31% 36%
  );

  filter: brightness(1) invert(0);
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}
.star:hover:nth-child(2n + 2) div img {
  object-position: 0;
  border-radius: 0;
  transform: scale(7);
  clip-path: polygon(
    41% 0%,
    65% 27%,
    100% 27.5%,
    80% 57%,
    92% 90%,
    57% 80%,
    28% 100%,
    27% 68%,
    0% 47%,
    31% 36%
  );

  filter: brightness(1) invert(0);
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}

/*clip-path: polygon(
    50% 0%,
    65% 40%,
    100% 40%,
    70% 65%,
    80% 100%,
    50% 80%,
    20% 100%,
    30% 65%,
    0% 40%,
    35% 40%
  ); */

.star h6 {
  color: white;
  padding-left: 25px;
  font-size: 0.3 rem;
  text-decoration: none;
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.star:hover h6 {
  opacity: 0;
}

.sway {
  animation: sway 7s infinite ease-in-out;
}

@keyframes sway {
  0% {
    transform: translate(0px, 5px);
  }

  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 5px);
  }
}

@media (max-width: 450px) {
  .fist {
    width: 220px;
    height: 220px;
  }
}

.starCard:nth-child(3n + 2) div a {
  filter: drop-shadow(0px 0px 35px rgb(228, 183, 1));
}

.starCard:nth-child(3n + 3) div a {
  filter: drop-shadow(0px 0px 35px rgb(85, 157, 63));
}

.starCard:nth-child(3n + 1) div a {
  filter: drop-shadow(0px 0px 35px rgb(230, 12, 11));
}

.starCard div a img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  clip-path: polygon(
    41% 0%,
    65% 27%,
    100% 27.5%,
    80% 57%,
    92% 90%,
    57% 80%,
    28% 100%,
    27% 68%,
    0% 47%,
    31% 36%
  );
}

.starCard div {
  width: 100%;
  height: auto;
}

.starCard:nth-child(2n + 2) div {
  transform: scale(-1, 1);
}

.starCard h6 {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.starImg {
  clip-path: polygon(
    41% 0%,
    65% 27%,
    100% 27.5%,
    80% 57%,
    92% 90%,
    57% 80%,
    28% 100%,
    27% 68%,
    0% 47%,
    31% 36%
  );
}

.title {
  color: white;
  font-family: galactic;
  font-size: 2.5rem;
}

.btn {
  background-color: transparent;
  font-size: 1rem;
  padding: 6px 20px;
  font-weight: bold;
  width: fit-content;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin: 0 10px;
  transition: ease-in 0.2s;
}
.btn:hover {
  background-color: white;

  color: black;
  border: 2px solid white;
  text-decoration: none;
}
